<!DOCTYPE html>
<html lang="en">

<head>
	
    <meta charset="utf-8" />
    <title>
	
	Emt Glass</title>
	
	
	<script src="/js/jquery-1.11.0.js"></script>
    <script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.5/jquery.min.js"></script>
    <script src="//static.opentok.com/webrtc/v2.2/js/TB.min.js"></script>
	<script src="https://sdk.amazonaws.com/js/aws-sdk-2.0.19.min.js"></script>
    <script type="text/javascript">
        var apiKey = '<%= apiKey %>';
        var sessionId = '<%= sessionId %>';
        var token = '<%= token %>';
    </script>
    <script src="/js/helloworld.js"></script>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Bootstrap Core CSS -->
    <link href="css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom CSS -->
    <link href="css/shop-item.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <!-- Navigation -->
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
        <div class="container">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                 <a class="navbar-brand" href="#">EMT GLASS</a>
            </div>
            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="#">About</a>
                    </li>
                    <li>
                        <a href="#">Services</a>
                    </li>
                    <li>
                        <a href="#">Contact</a>
                    </li>
                </ul>
            </div>
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

    <!-- Page Content -->
    <div class="container">

        <div class="row">

            <div class="col-md-3">
                <p class="lead">
				    
				<img src="../images/emtGlass.png" height="50" width="65">
				Team Status</p>
                <div class="list-group">
                    <a id="team1" href="#" class="list-group-item">Team #1</a>
                    <a id="team2" href="#" class="list-group-item">Team #2</a>
                    <a id="team3" href="#" class="list-group-item">Team #3</a>				
                </div>
				
				<p class="lead"> 
				<img src="../images/feed.png" height="35" width="45"> &nbsp &nbsp My Feed </p>
				<div class="list-group" id="publisher"></div>
				<div class="panel-footer">
				<b>Replay Options </b>	<br>
				  <button id="playback" class="btn btn-danger start">
					<img src="../images/back15.png" alt="replay last 15 seconds" height="40" width="40">					
				  </button>
				  <button id="playback2" class="btn btn-danger start2">
					<img src="../images/back30.png" alt="replay last 30 seconds" height="40" width="40">					
				  </button>
				  <button id="playback3" class="btn btn-danger start3">
					<img src="../images/back60.png" alt="replay last 60 seconds" height="40" width="40">					
				  </button>
				 <!-- <button id="playback4" class="btn btn-danger start4">
					<img src="../images/backAll.png" alt="replay All" height="35" width="35">					
				  </button>
				  -->
				  <br><br>
				  <button id="play" class="btn btn-danger stop">Replay All</button>
				</div>
            </div>

            <div class="col-md-9">
<br> <br> <br><p> </p>
                <div class="thumbnail">  
                    <div class="caption-full">				   
                        <h4><p id="video_status"><b>No EMT Teams Are Currently Online. Video will start playing when they connect!<b></p>
                        </h4>
						<div id="subscribers"></div>
						
                        </h4>
  

            </div>
			

        </div> 
		<div class="thumbnail">
			<h4><p id="playback_status"><b>&nbsp Playback of stream will appear here...<b></p></h4>
			<video id="play_video" preload="metadata" width="400px" controls>
			  <source src="" type="video/mp4">
			  Your browser does not support HTML5 video.
			</video>
		
		</div>
    </div>
    <!-- /.container -->
<br>



    <div class="container">

        <hr>

        <!-- Footer -->
        <footer>
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; EMTGLASS 2014</p>
                </div>
            </div>
        </footer>

    </div>
	

	
    <!-- /.container -->

    <!-- jQuery Version 1.11.0 -->
    <script src="/js/jquery-1.11.0.js"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="/js/bootstrap.min.js"></script>

</body>

</html>
